In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
Independent = dataset [['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset [['charges']]

In [6]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test = train_test_split(Independent,dependent,train_size=0.70,random_state=0)

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

grid_params = {'n_estimators':[10,30,50,100],'random_state':[0]}

grid = GridSearchCV(RandomForestRegressor(),grid_params,refit=True,verbose=3,n_jobs=-1)
grid.fit(Independent,dependent)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'n_estimators': [10, 30, 50, 100],
                         'random_state': [0]},
             verbose=3)

In [9]:
#from sklearn.ensemble import RandomForestRegressor
#RF = RandomForestRegressor(n_estimators=10000, random_state=0)
#RF.fit(x_train,y_train)

In [10]:
y_pred = grid.predict(Independent)

In [11]:
from sklearn.metrics import r2_score
Result = r2_score (dependent,y_pred)
Result

0.9752549432678304

In [12]:
import pickle 
pickle.dump(grid,open("Finalized_RF_Reg_model.sav",'wb'))

In [13]:
result1 = pickle.load(open("Finalized_RF_Reg_model.sav",'rb'))
Final_result = result1.predict([[62,29.070, 0,0,1]])
Final_result

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([28878.7566994])

In [14]:
result = grid.cv_results_

best_perform = grid.best_params_
best_perform_param = grid.best_score_

print("The best performing hyper payable param:",best_perform,best_perform_param)

The best performing hyper payable param: {'n_estimators': 100, 'random_state': 0} 0.8250211283079617

In [15]:
table = pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_estimators,param_random_state,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.086207,0.007166,0.015197,0.003449,10,0,"{'n_estimators': 10, 'random_state': 0}",0.842801,0.760071,0.835803,0.805690,0.834550,0.815783,0.030622,4
1,0.191469,0.012265,0.015623,0.000003,30,0,"{'n_estimators': 30, 'random_state': 0}",0.847483,0.762978,0.844585,0.820197,0.835031,0.822055,0.031036,3
2,0.228532,0.021179,0.021876,0.007655,50,0,"{'n_estimators': 50, 'random_state': 0}",0.852059,0.767085,0.851143,0.818031,0.834293,0.824522,0.031316,2
3,0.345882,0.020883,0.018108,0.005389,100,0,"{'n_estimators': 100, 'random_state': 0}",0.848324,0.767391,0.853806,0.822022,0.833563,0.825021,0.030902,1

In [17]:
Age = int(input("Enter the age:"))
bmi = float(input("Enter the bmi:"))
children = int(input("Enter the no. of children:"))
sex = int(input("Enter the Sex:"))
smoker = int(input("Enter the no. of smoker:"))
final_output = grid.predict([[Age,bmi,children,sex,smoker]])
print("The final predicted insurance charges{}:".format(final_output))

Enter the age:19
Enter the bmi:27.900
Enter the no. of children:0
Enter the Sex:0
Enter the no. of smoker:1
The final predicted insurance charges[16974.859458]:

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"